﻿@model List<ShopLister.Models.DeviceName>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .image-style {
            max-width: 100px;
        }

        .show {
            z-index: 999;
            display: none;
        }

            .show .overlay {
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.66);
                position: absolute;
                top: 0;
                left: 0;
            }

            .show .img-show {
                width: 900px;
                height: 600px;
                background: #FFF;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                overflow: hidden
            }

        .img-show span {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 99;
            cursor: pointer;
        }

        .img-show img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .this-input{
            border-color:blue !important;
        }
    </style>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <title>Individual Report</title>
</head>
<body class="container-fluid p-5">
    <div class="popup">
        <h1>Device List</h1>

        <table id="today-sales" class='display'>
            <thead>
                <tr>
                    <th>DeviceId</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DeviceId</td>
                        <td>
                            <form action="/home/savename" method="post">
                                <input type="hidden" value="@item.Id" name="Id" />
                                <input type="text" class="form-control" style="width:300px;display:inline-block" value="@item.Name" name="Name" />
                                <button type="submit" class="btn btn-primary" style="display:inline-block">Save Name</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#today-sales').DataTable();

        });
    </script>
</body>
</html>
