﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .home-bg {
            padding-top: 20%;
            background-color: #E5E4E2;
        }
        div
        {
            

        }
        h1 {
            margin: auto;
            width: fit-content;
        }
    </style>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <title>Shop Lister Index</title>
</head>
<body class="home-bg">
    <div>
        <a href="/home/getallitems">
            <h1> Get general sales Report</h1>
        </a>
    </div>
    <div>
        <a href="/home/GetAllIndividualReport">
            <h1> Get Total sales Report</h1>
        </a>
    </div>
    <div>
        <a href="/home/getdevicelist">
            <h1>All Your Devices</h1>
        </a>
    </div>

</body>
</html>
