﻿@model ShopLister.DTOs.DtoSellItemsResultContainer
@{
    Layout = null;
    DateTime fromDate = ViewBag.fromDate;
    DateTime toDate = ViewBag.toDate;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .image-style {
            max-width: 100px;
        }

        .show {
            z-index: 999;
            display: none;
        }

            .show .overlay {
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.66);
                position: absolute;
                top: 0;
                left: 0;
            }

            .show .img-show {
                width: 900px;
                height: 600px;
                background: #FFF;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                overflow: hidden
            }

        .img-show span {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 99;
            cursor: pointer;
        }

        .img-show img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .this-input{
            border-color:blue !important;
        }
    </style>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <title>Individual Report</title>
</head>
<body class="container-fluid p-5">
    <div class=" popup">
        <h1 class="text-center ">Total Sales</h1>
        <div class="">
            <div class="">
                <a href="~/home">
                    <button class="btn btn-success">Home</button>
                </a>
                <a href="~/home/getallitems">
                    <button class="btn btn-info">Today's Sales</button>
                </a>
            </div>
        </div>
        <div class=" py-4">
            <div class="row">
                <div class="col-md-4">
                    <label for="sale-report-start-date-picker" style="display:inline-block">
                        <h4>Start date :</h4>
                    </label>
                    <input style="display:inline-block;max-width:200px" type="text" class="form-control this-input ml-4" id="sale-report-start-date-picker" />
                </div>
                <div class="col-md-4">
                    <label for="sale-report-end-date-picker" style="display:inline-block">
                        <h4>End date :</h4>
                    </label>
                    <input style="display:inline-block;max-width:200px" type="text" class="form-control this-input ml-4" id="sale-report-end-date-picker" />
                </div>
                <div class="col-md-4">
                    <button id="load-data" style="margin-bottom:20px" class="btn btn-primary">Load Data</button>
                </div>
            </div>
        </div>
        <table id="today-sales" class='display'>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Total Sale</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.items)
                {
                    <tr>

                        <td>@item.DeviceId</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h2>Total Sale: @Model.price</h2>
    <script>
        $(document).ready(function () {
            $('#today-sales').DataTable();

            var fromDate = "@fromDate.ToString("MM/dd/yyyy")";
            var toDate = "@toDate.ToString("MM/dd/yyyy")";
            
            var goToLocation = function () {
                window.location = "/home/GetAllIndividualReport?fromDate=" + fromDate + "&toDate=" + toDate;
            };
            $("#load-data").click(function () {
                goToLocation();
            });
            $("#sale-report-start-date-picker").datepicker({
                onSelect: function (date) {
                    console.log(date);
                    fromDate = date;
                }
            });
            $("#sale-report-end-date-picker").datepicker({
                onSelect: function (date) {
                    console.log(date);
                    toDate = date;
                }
            });
            $("#sale-report-start-date-picker").datepicker("setDate", new Date('@fromDate.Year-@fromDate.Month-@fromDate.Day'));
            $("#sale-report-end-date-picker").datepicker( "setDate", new Date('@toDate.Year-@toDate.Month-@toDate.Day'));

        });
    </script>
</body>
</html>
