﻿@model List<ShopLister.Models.ShopItem>
@{
    Layout = null;
    DateTime fromDate = ViewBag.fromDate;
    DateTime fromTime = ViewBag.fromTime;
    DateTime toTime = ViewBag.toTime;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .image-style {
            max-width: 100px;
        }

        .show {
            z-index: 999;
            display: none;
        }

            .show .overlay {
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.66);
                position: absolute;
                top: 0;
                left: 0;
            }

            .show .img-show {
                width: 500px;
                height: 600px;
                background: #FFF;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                overflow: hidden
            }

        .img-show span {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 99;
            cursor: pointer;
        }

        .img-show img {
            
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .this-input{
            border-color:blue !important;
        }
    </style>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <title></title>
</head>
<body class="container-fluid p-5">
    <div class="popup">
        <h1 class="text-center p-3">Today's Sales</h1>
        <div class="">
            <div class="">
                <a href="~/home">
                    <button class="btn btn-success">Home</button>
                </a>
                <a href="~/home/GetAllIndividualReport">
                    <button class="btn btn-info">Total Sales</button>
                </a>
            </div>
        </div>
        <div class="top-container" style="margin-bottom:30px;margin-top:30px">
            <h2 style="display:inline-block">Want to see another day's sales?</h2>

        </div>
        <div class="top-container" style="margin-bottom:30px;margin-top:30px">
            <div class="">
                <div class="row">
                    <div class="col-md-4">
                        <label for="sale-report-date-picker" style="display:inline-block">
                            <h4>Pick another date :</h4>
                        </label>
                        <input style="display:inline-block;max-width:160px" type="text" class="form-control this-input ml-4" id="sale-report-date-picker" />
                    </div>
                    <div class="col-md-3">
                        <label for="from-time" style="display:inline-block">
                            <h4>From Time :</h4>
                        </label>
                        <input style="display:inline-block;max-width:160px" class="form-control this-input ml-4" type="text" id="from-time" />
                    </div>
                    <div class="col-md-3">
                        <label for="to-time" style="display:inline-block">
                            <h4>To Time :</h4>
                        </label>
                        <input style="display:inline-block;max-width:160px" class="form-control this-input ml-4" type="text" id="to-time" />
                    </div>
                    <div class="col-md-2">
                        <button id="load-data" style="margin-bottom:20px" class="btn btn-primary">Load Data</button>
                    </div>
                </div>
            </div>
        </div>
        <table id="today-sales" class='display'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Time</th>
                    <th>Image1</th>
                    <th>Image2</th>
                    <th>Image3</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.DeviceId</td>
                        <td>@item.CreateTime</td>
                        <td><img class="popup_image image-style" src="@item.Image1" /></td>
                        <td><img class="popup_image image-style" src="@item.Image2" /></td>
                        <td><img class="popup_image image-style" src="@item.Image3" /></td>
                        <td>@item.Price</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="show">
        <div class="overlay"></div>
        <div class="img-show">
            <span>X</span>
            <img src="">
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#today-sales').DataTable();

            var fromDate = "@fromDate.ToString("MM/dd/yyyy")";
            var fromTime = new Date("@fromTime");
            var toTime = new Date("@toTime");
            var goToLocation = function () {
                window.location = "/home/getallitems?fromDate=" + fromDate + "&fromTime=" + fromDate + "%20" + fromTime.getHours() + ":" + fromTime.getMinutes() + ":00" + "&toTime=" + fromDate + "%20" + toTime.getHours() + ":" + toTime.getMinutes() + ":00";
            };
            $("#load-data").click(function () {
                goToLocation();
            });
            $("#sale-report-date-picker").datepicker({
                onSelect: function (date) {
                    console.log(date);
                    fromDate = date;
                }
            });
            $("#sale-report-date-picker").datepicker( "setDate", new Date('@fromDate.Year-@fromDate.Month-@fromDate.Day'));

            $('#from-time').timepicker({
                timeFormat: 'h:mm p',
                interval: 60,
                minTime: '7',
                maxTime: '11:00pm',
                defaultTime: "'" + fromTime.getHours() + "'",
                startTime: '07:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true,
                change: function (time) {
                    fromTime = time;
                }
            });
            $('#to-time').timepicker({
                timeFormat: 'h:mm p',
                interval: 60,
                minTime: '7',
                maxTime: '11:00pm',
                defaultTime: "'" + toTime.getHours() + "'",
                startTime: '07:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true,
                change: function (time) {
                    toTime = time;
                }
            });
            $(document).keyup(function(e) {
                 if (e.key === "Escape") { // escape key maps to keycode `27`
                    $(".show").fadeOut();
                }
            });
            $(function () {
                "use strict";
    
                $(".popup").delegate(".popup_image","click",function () {
                    var $src = $(this).attr("src");
                    $(".show").fadeIn();
                    $(".img-show img").attr("src", $src);
                });
    
                $("span, .overlay").click(function () {
                    $(".show").fadeOut();
                });
    
            });

        });
    </script>
</body>
</html>
